#!/usr/bin/env bash

if has goenv; then
    export GOROOT="$(goenv prefix)"
    export GOPATH="$HOME/go/$(cat .go-version)"
fi

PROJECT_DIR="$(pwd)"

PATH_add ${PROJECT_DIR}
PATH_add ${GOROOT}/bin
PATH_add ${GOPATH}/bin
